<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css\style.css">
    <link rel="stylesheet" href="css/cart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="head">
        <section class="encabezado">
            <div class="promociones">
                <p>3 y 6 cuotas sin interes - 10% de descuento con transferencia</p>
            </div>
            <div class="logo-img">
                <div class="logo"> <img width="100%" src="./imagenes/logoFinal.jpg" alt="HOME&DECO"> </div>
            </div>

            <div class="carrito_login"> <i class="fas fa-shopping-basket"></i> </div>
            <div class="user"> <i class="far fa-user-circle"></i> </div>

            <!-- BARRA BUSQUEDA -->

            <div class="flexsearch">

                <form class="flexsearch--form" action="#" method="post">
                    <div class="flexsearch--input-wrapper">
                        <input class="flexsearch--input" type="search" placeholder="Buscar productos">
                    </div>
                    <input class="flexsearch--submit" type="submit" value="&#10140;" />
                </form>

            </div>
            <nav class="categorias">
                <a href="/"> Living </a>

                <a href="/"> Cocina </a>

                <a href="/"> Dormitorio </a>

                <a href="/"> Exterior </a>

                <a href="/"> Contacto </a>
            </nav>


        </section>

    </header>
    <section>
        <table id="tabla">
            <tr>
                <th>

                </th>
                <th>
                    Producto 
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Subtotal
                </th>
            </tr>
            <tbody>
                <th>
                    <img src="/imagenes/mesa de comedor.jpg" alt="mesa" width="100">
                </th>
                <th>
                Mesa de comedor    
                </th>
                <th>
                $125.000
                </th>
                <th>
                    1
                </th>
                <th>
                    $125.000
                </th>
            </tbody>
        </table>
        <div id="buttons-container">
            <button>
                Codigo de cupon
            </button>
            <button>
                Aplicar cupon
            </button>
            <button>
                Actualizar carrito 
            </button>
        </div>
        <div id="refresh-cart">
            <i class="fa-solid fa-box-check"></i>
            Carrito actualizado
        </div>

        <div class="total-cart">
            <section id="total">
            Total del carrito
            </section>

            <div class="content-parcial">

            <span>
            Total parcial 
            </span>
            
            <span>
            $125.000
            </span>

            </div>

            <div class="envio">
          <span id="center">
         Envio
          </span>
          <p class="aling-envio">
        Acordar Envio <br> las actualizaciones de envio se actualizaran durante el pago <br> Calcular envio
          </p>
            </div>

            <div id="total2">
           <span>
           Total
           </span>
           <span>
          $125.000
           </span>
            </div>

            <section id="regalo">
           <div>
            ¿Tienes una tarjeta de regalo?
           </div>
           <div>
        <button>
            Nro de la tarjeta de rgalo
        </button>
        <button>
            Aplicar
        </button>
           </div>
           <div>
        <button>
            Finalizar compra
        </button>
           </div>
            </section>

        </div>
    </section>
    <footer class="pie">
        <div class="informacion">
            <h3>INFORMACION</h3>
            <ul>
                <li> Preguntas frecuentes </li>
                <li> Cambios y devoluciones </li>
                <li> Envios </li>
            </ul>
        </div>
        <div class="informacion">
            <h3>SERVICIOS</h3>
            <ul>
                <li> Preguntas frecuentes </li>
                <li> Cambios y devoluciones </li>
                <li> Envios </li>
            </ul>
        </div>
        <div class="informacion">
            <h3>CONTACTO</h3>
            <ul>
                <li> Preguntas frecuentes </li>
                <li> Cambios y devoluciones </li>
                <li> Envios </li>
            </ul>
        </div>
        <div class="informacion">
            <h3>NEWSLETTER</h3>
            <ul>
                <li> Preguntas frecuentes </li>
                <li> Cambios y devoluciones </li>
                <li> Envios </li>
            </ul>
        </div>

    </footer>
</body>

</html>