<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css\style.css">
    <title>HOME&DECO</title>
</head>

<body>
    <header class="head">
        <section class="encabezado">
            <div class="promociones">
                <p>3 y 6 cuotas sin interes - 10% de descuento con transferencia</p>
            </div>
            <div class="logo-img">
                <div class="logo"> <img width="100%" src="./imagenes/logoFinal.jpg" alt="HOME&DECO"> </div>
            </div>

            <div class="carrito_login"> <i class="fas fa-shopping-basket"></i> </div>
            <div class="user"> <i class="far fa-user-circle"></i> </div>

            <!-- BARRA BUSQUEDA -->

            <div class="flexsearch">

                <form class="flexsearch--form" action="#" method="post">
                    <div class="flexsearch--input-wrapper">
                        <input class="flexsearch--input" type="search" placeholder="Buscar productos">
                    </div>
                    <input class="flexsearch--submit" type="submit" value="&#10140;" />
                </form>

            </div>
            <nav class="categorias">
                <a href="/"> Living </a>

                <a href="/"> Cocina </a>

                <a href="/"> Dormitorio </a>

                <a href="/"> Exterior </a>

                <a href="/"> Contacto </a>
            </nav>


        </section>

    </header>

    <section class="cuerpo">
        <div class="CARRUSEL">
            <img width="50%" src="./imagenes/portada.jpg" alt="imagenes">
        </div>
        <div class="p_destacados">
            <p> Productos Destacados</p>
        </div>
        <div class="img_destacados">
            <div>
                <img width="100%" src="./imagenes/producto1.jpg" alt="imagen producto1 ">
                <div class="precio">
                    <p>precio 1 </p>
                </div>
            </div>
            <div>
                <img width="100%" src="./imagenes/producto2.jpg" alt="imagen producto2">
                <div class="precio">
                    <p> precio 2 </p>
                </div>
            </div>
            <div>
                <img width="100%" src="./imagenes/producto3sillas.jpeg" alt="imagen producto3">
                <div class="precio">
                    <p>precio 3 </p>
                </div>
            </div>
            <div>
                <img width="100%" src="./imagenes/producto4sillon.jpg" alt="imagen producto 4">
                <div class="precio">
                    <p>precio 4 </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="pie">
        <div class="informacion">
            <h3>INFORMACION</h3>
            <ul>
                <li> Preguntas frecuentes </li>
                <li> Cambios y devoluciones </li>
                <li> Envios </li>
            </ul>
        </div>
        <div class="informacion">
            <h3>SERVICIOS</h3>
            <ul>
                <li> Preguntas frecuentes </li>
                <li> Cambios y devoluciones </li>
                <li> Envios </li>
            </ul>
        </div>
        <div class="informacion">
            <h3>CONTACTO</h3>
            <ul>
                <li> Preguntas frecuentes </li>
                <li> Cambios y devoluciones </li>
                <li> Envios </li>
            </ul>
        </div>
        <div class="informacion">
            <h3>NEWSLETTER</h3>
            <ul>
                <li> Preguntas frecuentes </li>
                <li> Cambios y devoluciones </li>
                <li> Envios </li>
            </ul>
        </div>

    </footer>




















</body>

</html>