<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css\style.css">
    <title>HOME&DECO</title>
</head>

<body>
    <header class="head">
    
            <div class="promociones">
                <p>3 y 6 cuotas sin interes - 10% de descuento con transferencia</p>
            </div>
            <div class="logo-img">
                <div class="logo"> <img  id="img-principal" width="100%" src="./imagenes/logo-header.jpg" alt="HOME&DECO"> </div>
            </div>

            <div class="carrito_login"> <a href="/cart"><i class="fas fa-shopping-basket"></i></a>  </div>
            <div class="user"> <a href="/loggin"> <i class="far fa-user-circle"></i>  </a> </div>

            <!-- BARRA BUSQUEDA -->

            <div class="flexsearch">

                <form class="flexsearch--form" action="#" method="post">
                    <div class="flexsearch--input-wrapper">
                        <input class="flexsearch--input" type="search" placeholder="Buscar productos">
                    </div>
                    <input class="flexsearch--submit" type="submit" value="&#10140;" />
                </form>

            </div>
            <nav class="categorias">
                <a href="/"> Living </a>

                <a href="/"> Cocina </a>

                <a href="/"> Dormitorio </a>

                <a href="/"> Exterior </a>

                <a href="/"> Contacto </a>
            </nav>
 <!-- MENU BURGER -->
 <div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>

      

    </header>

    <section class="cuerpo">
        <div class="CARRUSEL">
            <img width="50%" src="./imagenes/portada.jpg" alt="imagenes">
        </div>
        <div class="p_destacados">
            <p> Productos Destacados</p>
        </div>
        <div class="img_destacados">
            <div>
                <img width="100%" src="./imagenes/producto1.jpg" alt="imagen producto1 ">
                <div class="precio">
                    <p>precio 1 </p>
                </div>
            </div>
            <div>
                <img width="100%" src="./imagenes/producto2.jpg" alt="imagen producto2">
                <div class="precio">
                    <p> precio 2 </p>
                </div>
            </div>
            <div>
                <img width="100%" src="./imagenes/producto3sillas.jpeg" alt="imagen producto3">
                <div class="precio">
                    <p>precio 3 </p>
                </div>
            </div>
            <div>
                <img width="100%" src="./imagenes/producto4sillon.jpg" alt="imagen producto 4">
                <div class="precio">
                    <p>precio 4 </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="pie">
        <div class="informacion">


            <div class="info-flex">
                <h4>INFORMACION</h4>
              <a href="/preguntasFrecuentes">  <p class="piePag"> Preguntas frecuentes </p> </a> 
               <a href="/Cambios"> <p class="piePag"> Cambios y devoluciones </p></a>  
               <a href="/envios">  <p class="piePag"> Envios </p> </a>
            </div>




            <div class="contacto-flex">
                <h4>CONTACTO</h4>
                <a href="/info">  <p class="piePag"><i class="fas fa-map-marker-alt"></i> Ubicacion </p></a> 
                <a href="/info">  <p class="piePag"> <i class="fab fa-whatsapp"></i> Telefono </p> </a> 
                <a href="/info"> <p class="piePag"> <i class="far fa-envelope"></i> Email </p></a> 
            </div>


            <div class="new-flex">
                <h4>NEWSLETTER</h4>
                <h6 class="newsletter"> Suscribite para recibir novedades!</h6>
                <form  action="/" method="get">
                    <input class="suscribite" type="email" name="email" placeholder="ejemplo@gmail.com">
                    <button class="suscrib" type="submit"> Suscribirse </button>

                </form>
            </div>

            <div class="redes-flex">
                <h4>NUESTRAS REDES</h4>
                <a href="http://facebook.com"> <i class="fab fa-facebook-square"></i> </a>
                <a href="http://instagram.com"> <i class="fab fa-instagram"></i> </a>
            </div>

        </div>

    </footer>

</body>

</html>