<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="css\style.css">
    <title>Document</title>
</head>

<body>
    <div class="Contenedor">
        <header class="head">
            <div class="promociones">
                <p>Envio gratis a partir de $1000</p>
            </div>
            <div class="logo"> <img src="" alt="HOMEANDDECO"> </div>
            <div class="carrito_login"> <img src=""> </div>
            <div class="busqueda">
                <nav> ¿Que estas buscando? </nav>
            </div>
            <div class="categorias">
                <div>
                    <p> Categoria 1</p>
                </div>
                <div>
                    <p> Categoria 2</p>
                </div>
                <div>
                    <p> Categoria 3</p>
                </div>
                <div>
                    <p> Categoria 4</p>
                </div>
                <div>
                    <p> Categoria 5</p>
                </div>
                <div>
                    <p> Categoria 6</p>
                </div>
            </div>

        </header>

        <section class="cuerpo">
            <div class="CARRUSEL"> <img src="" alt="imagenes"> </div>
            <div class="p_destacados">
                <p> Productos Destacados</p>
            </div>
            <div class="img_destacados">
                <div>
                    <img src="producto1.jpg" alt="imagen producto1 ">
                    <div class="precio">
                        <p>precio 1 </p>
                    </div>
                </div>
                <div>
                    <img src="producto2.jpg" alt="imagen producto2">
                    <div class="precio">
                        <p> precio 2 </p>
                    </div>
                </div>
                <div>
                    <img src="producto3sillas.jpg" alt="imagen producto3">
                    <div class="precio">
                        <p>precio 3 </p>
                    </div>
                </div>
                <div>
                    <img src="producto4sillon.jpg" alt="imagen producto 4">
                    <div class="precio">
                        <p>precio 4 </p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="pie">
            <div class="informacion">
                <h3>INFORMACION</h3>
                <ul>
                    <li> Preguntas frecuentes </li>
                    <li> Cambios y devoluciones </li>
                    <li> Envios </li>
                </ul>
            </div>
            <div class="informacion">
                <h3>SERVICIOS</h3>
                <ul>
                    <li> Preguntas frecuentes </li>
                    <li> Cambios y devoluciones </li>
                    <li> Envios </li>
                </ul>
            </div>
            <div class="informacion">
                <h3>CONTACTO</h3>
                <ul>
                    <li> Preguntas frecuentes </li>
                    <li> Cambios y devoluciones </li>
                    <li> Envios </li>
                </ul>
            </div>
            <div class="informacion">
                <h3>NEWSLETTER</h3>
                <ul>
                    <li> Preguntas frecuentes </li>
                    <li> Cambios y devoluciones </li>
                    <li> Envios </li>
                </ul>
            </div>

        </footer>

    </div>


















</body>

</html>