<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
     <title>Formulario Login</title>
</head>
<body>
    <div class="container">
        
    <form method="post" action=" /contacto"> 
        <div>
            <label> Bienvenido</label><br>
            <h5>Inicie sesiòn</h5>   
    <input class="controls" type="text" name="usuario" value=""placeholder="Usuario">
    <input class="controls" type="password" name="contraseña" value=""placeholder="Contraseña">
    <input class="buttons" type="submit" name="" value="Ingresar">

        </div>
               <a href="#">¿Olvido su contraseña?</a> <div>
           
    </form>
    <div class="login">
        <h2>Ingrese con red social</h2>
        <div class="login-items">
          <button class="fb"><i class="fa-brands fa-square-facebook"></i> Acceder con Facebook</button>
          <button class="tw"><i class="fa-brands fa-twitter"></i> Acceder con Twitter</button>
          <button class="correo"><i class="fa-solid fa-envelope"></i> Acceder con Correo</button>
        </div>
        </div>
</body>
</html>
