#tabla{
    width: 90vw;
    margin-top: 100px;
}

#buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#buttons-container > button{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f7d6eb;
    border: 0px;
    padding: 5px;
}

#refresh-cart{
    background-color: #e2725b84;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;

}

.total-cart{
    text-align:center;
 

}

#total{
    background-color:#e2725b84;
    padding: 5px;
    border-radius: 5px;
    width: 50vw;
    margin:0px auto;
    display: flex;
    }

.total-cart > #total{
     margin-top: 80px;
}

.content-parcial{
    display: flex;
flex-direction: row;
justify-content: space-around;
}

.envio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.envio > #center {
    display: flex;
    align-self: center;
}

.envio > .aling-envio{
    display: flex;
    
}

#total2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#regalo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

