@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&family=Roboto:wght@300;700&display=swap');

 
body{
    font-family: "Montserrat", Sans-serif;
    background-color: #fefdf1;
}

/*HEADER*/

.encabezado{
    background-color: #fefdf1;
}


.fas.fa-shopping-basket{
    position: absolute;
    left: 95%;
    top: 57px;
}

.far.fa-user-circle{
    position: absolute;
    left: 91%;
    top: 57px;
}


.promociones{
    background-color: #f7d6eb;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0px;
}

img {
    max-width: 100vw;
    text-align: center;
}

.logo-img{
    display: flex;
    justify-content: center;
}


.logo{
    width: 30%;
    height: 10%;

    }


.flexsearch--form{
    display: flex;
    justify-content: center;
    
}
.flexsearch--input, .flexsearch--submit{
    background-color: #FFFDD0; 
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(67,67,67,0.3);
    
}
 
.flexsearch--input{
    width: 60vw;
}



.categorias{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    font-size: 13px;
}






.CARRUSEL{
    width: 60;
    text-align: center;
}


.p_destacados{
    text-align: center;
    background-color: #EBB5D6;
}







footer{
    background-color:#cdc1b3
}
.informacion{
    display: flex;
    justify-content: space-between;
  
}

.redes-flex, .new-flex, .contacto-flex, .info-flex{
    display: flex;
    flex-direction: column;
}

.fab.fa-facebook-square, .fa-instagram{
    align-self: center;
    font-size: 26px;
    margin: 5px
}

h4{
    font-family: "Montserrat", Sans-serif;
    font-size: 19px;
    font-weight: 300;
}

.piePag{
    font-size: 14px;
}

.suscribite{
    border-radius: 15px;
}