<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/createProduct.css">
    <title>HANGAR</title>

</head> 
<body>
    <%- include ('../partials/header.ejs') %>
        
    <section class="container">
        <form class = "cargar-producto">
        <div class =" encabezado">
            <h1>Cargar Producto</h1>
        </div>
        <div class = "name">
            <label for="nombre">Nombre del producto</label> 
            <input id="nombre" type="text" >
        </div>
        <div class = "description">    
            <label for="descripcion">Descripcion del producto</label> 
            <textarea id="descripcion" type="text" > </textarea>
        </div>
        <div class = "img-cargar-product">
            <label for="imagen">Imagen del producto</label> 
            <input id="imagen" type="file" >
        </div>
        <div class = "category">
            <label for="categoria">Categorias del producto</label> 
            <input id="categoria" type="text" >
        </div>
        <div class = "product-color">
            <label for="color">Color del producto</label> 
            <input id="color" type="color"> 
        </div>

        <div class = "product-tam">
            <label for="tamanio">Tamaño</label>
            <select  class = "button-tam" name = "tamanio">
                <option disabled="">Seleccione una Opcion</option>
                        <option value="ESTANDAR">ESTANDAR</option>
                        <option value="GRANDE">GRANDE</option>
                        <option value="CHICO/A">CHICO/A</option>
            </select>
        </div>
        <div class = "price">
            <label for="precio">Precio del producto</label> 
            <input id="precio" type="number" >
        </div>
        <button class = "button-create">CARGAR</button>

        </form>
    </section>

    <%- include ('../partials/footer.ejs') %>

</body>
</html>