<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/createProduct.css">
    <%- include ('../partials/head.ejs') %>
  
</head>
<body>
    <form>
    <label for="nombre">Nombre del producto</label> 
    <input id="nombre" type="text" >

    <label for="descripcion">Descripcion del producto</label> 
    <textarea id="descripcion" type="text" > </textarea>

    <label for="imagen">imagen del producto</label> 
    <input id="imagen" type-="file" >

    <label for="categoria">Categorias del producto</label> 
    <input id="categoria" type="text" >

    <label for="color">Color del producto</label> 
    <input id="color" type="color"> 

    <label for="precio">precio del producto</label> 
    <input id="precio" type="number" >

    <button>Cargar productos</button>

    </form>
</body>
</html>