<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/stylelogin.css">
        <title>HANGAR</title>

</head>
<%- include ('../partials/header.ejs') %>

    <body>
        <div class="container">

            <form method="post" action=" /contacto">

                <h2>Iniciar sesión</h2>
                <div class="form-body">
                    <i class="fas fa-user"></i>
                    <input class="controls" type="text" placeholder="Usuario">
                </div>
                <div class="form-body">
                    <i class="fas fa-lock"></i>
                    <input class="controls" type="password" value="" placeholder="Contraseña">
                </div>
                <div class="form-body">
                    <input class="buttons" type="submit" Value="Ingresar">
                </div>
        </div>

        <div class="contra">
            <a href="#">¿Olvido su contraseña?</a>
        </div>


        <div class="login"> <br>
            <h2>Ingresar con red social</h2> <br>
        </div>
        <div class="login-items">
            <a href="#" class="fb"><i class="fab fa-facebook"></i></a>
            <a href="#" class="tw"><i class="fab fa-twitter"></i></a>
            <a href="#" class="correo"><i class="fas fa-envelope-square"></i></a><br>
        </div>
        </div>
        </form>
    </body><br>
    <%- include ('../partials/footer.ejs') %>

        </body>

</html>

</body>

</html>