<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include ('../partials/head.ejs') %>
        <title>HANGAR</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 my-3 pt-3 shadow">
                <img src="imagen ejs del json " class="float-left rounded-circle mr-2">
                <h1>nombre</h1>
                <h3>email JSON</h3>
                <p>
                    <strong>FECHA NACIMIENTO</strong>:EJS DEL FNAC <br>
                  
                </p> 
            </div>
        </div>
    </div>
        
</body>
</html>